/* app css stylesheet */

.auto-complete {
    position: absolute;
    max-height: 200px;
    overflow-y: auto;
    width: 300px;
    top: 100%;
    right: 0px;
    overflow-x: hidden;
    background-color: white;
    border-width: 1px;
    border-style: solid;
}

body {
    padding-top: 70px;
}
.tag.label {
    font-size: 100%;
}
.summary {
    text-align: right;
    position: fixed;
    right: 10px;
}
.clear-search {
    color: white;
    cursor: pointer;
}

.btn-fab.push-website {
    position: fixed;
    right: 50px;
    bottom: 50px;
}

.list-group-item-heading {
        white-space: nowrap;
    text-overflow: ellipsis;
}
.summary {
    z-index: 10;
}